<ion-menu side="start" contentId="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="light">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-content">
    <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item button>
          <a href="/home" >Home</a>
        </ion-item>
        <ion-item button>
          <ion-label>Scanear QR</ion-label>
        </ion-item>
        <ion-item button>
          <ion-label>Crear QR</ion-label>
        </ion-item>
        <ion-item button (click)="logout()">
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <img src="assets/RegisterAPP-icon.png" alt="icono" class="logo">
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding ion-text-center">
    <div class="scan-container">
      <h2>Crear Código QR</h2>
      <h5>Asignatura</h5>
      <input type="text" [(ngModel)]="text">
      <h5>Seccion/Sigla</h5>
      <input type="texto" [(ngModel)]="texto">
      <h5>Fecha</h5>
      <input type="date" [(ngModel)]="fecha">
      <br><br>
      <qrcode [qrdata]="text" [width]="300" [qrdata]="texto" [width]="300" [qrdata]="fecha" [width]="300">
     </qrcode>
      <ion-button expand="full" class="scan-button">Iniciar Escaneo</ion-button>
    </div>
  </ion-content>
</div>