<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <div class="login-container">
    <div class="login-card">
      <img src="assets/RegisterAPP-icon.png" alt="App Logo" class="logo" />
      
      <ion-item class="input-item" lines="full">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input type="text" placeholder="Nombre de usuario"></ion-input>
      </ion-item>

      <ion-item class="input-item" lines="full">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña"></ion-input>
        <ion-icon 
          slot="end" 
          [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" 
          (click)="togglePasswordVisibility()" 
          style="cursor: pointer;">
        </ion-icon>
      </ion-item>

      <button class="login-button">Entrar</button>
      <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
    </div>
  </div>
</ion-content>