<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <div class="login-container">
    <div class="login-card">
      <img src="assets/RegisterAPP-icon.png" alt="icono" class="logo">
      <h2>Bienvenido! </h2>
      <h2>Codigo recuperacion es </h2>
      
      <div class="button-container">
        <button class="login-button">Ramos inscritos</button>
        <button class="login-button">Scanear QR</button>
        <button class="login-button">Crear QR</button>
        <button class="login-button">Cerrar sesion</button>
      </div>
    </div>
  </div>
</ion-content>